<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="./css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="./css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="./css/animate.min.css" rel="stylesheet">
    <link href="./css/style.min.css?v=4.0.0" rel="stylesheet">
   </head>
<body class="gray-bg">
    <div class="jumbotron" style="height: 100%;margin: 0;position: relative;">
        <h1 style="text-align: center;position: absolute;top:40%;width: 100%;">欢迎使用MDD-BootDemo管理系统</h1>
    </div>
</body>
</html>
